body{
  font-size: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: $primary;
  margin-top: 2rem;
}
h1{
  font-size: 2.5rem;
}
h2{
  font-size: 1.85rem;
}

h4{
  font-size: 1.45rem;
}
h5{
  font-size: 1.35rem;
}
h6{
  font-size: 1.25rem;
}

p, .content li {
  font-family: 'Merriweather', serif;
  font-size: .8rem;
  line-height: 1.7;
  letter-spacing: 0.01rem;
}
p{
  margin-bottom: 1rem;

}

a {
  text-decoration: none;
  color: inherit;
}

a:hover,
a:active {
  text-decoration: none;
  font-weight: 600;
  color: $primary;
}

hr {
  width: 30%;
  margin-bottom: 30px;
}

.section-title {
  text-align: center;
}

/* Homepage typography */
.home-title{
  color: $accent;
}

.home-subtitle {
    font-weight: 300;
    color: $medium;
    font-family: $sans;
    text-align: center;
    line-height: 1;
    margin: 0 0 60px 0;
    
}
/* Blog typography */
.blog-title,
.blog-subtitle {
  margin: 0;
  line-height: 1;
}

.blog-title:hover,
.blog-title:focus,
.blog-title:active {
  color: $accent;
}

.blog-subtitle {
  @extend .home-subtitle;
  margin: 10px 0;
}

.blog-timestamp {
  color: $medium;
  text-transform: uppercase;
  font-family: $sans;
  margin-bottom: 25px;
  font-weight: 300;
  text-align: right;
}


/* Blog typography */
.blog-title,
.blog-subtitle {
  margin: 0;
  line-height: 1;
}

.blog-title:hover,
.blog-title:focus,
.blog-title:active {
  color: $accent;
}

.blog-subtitle {
  @extend .home-subtitle;
  margin: 10px 0;
}

.blog-timestamp {
  color: $medium;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-family: $sans;
  margin: 0 0 5px 0;
  font-weight: 300;
  text-align: left;
}
.portfolio-contacts{
  color: $accent;
  text-decoration: underline;
}
