// NAVIGATION
.navbar {
    background: transparent;
    color: $dark-grey;
    border: none;
}
.navbar-right * {
    font-size: 1rem;
    font-weight: 300;
}
.navbar-default .navbar-nav>li>a:hover{
  color: $primary;
}
.navbar-default .navbar-nav>li>a.active{
    color: $accent;
}
.navbar-collapse {
    border-top: none;
}

.navbar-toggle {
  border: 0px;
}
.fa-bars{
  color: $accent;
}
// BUTTONS
.btn {
    // margin: 0px 40px;
    width: 200px;
    padding: 10px;
    margin: 30px 0;
    background: $primary;
    color: white;
    font-weight: 300;
    font-size: 1rem;
}
.btn:hover,
.btn:active,
.btn:focus,
.btn:target,
.btn:active:focus{
  border: 1px $primary solid;
  background: transparent;
  color: $primary;
  text-decoration: none;
}

// IMAGES + LOGO
.img-round-large{
  margin: 5% auto;
  height: 180px;
}
.img-round-small{
  width: 100px;
  height: 100px;
  margin: 5%;
  object-fit: cover; // Add a polyfill for this feature
  // overflow: hidden;
}
// BLOG POST
.blog-post{
  display: flex;

  @media screen and (min-width: 990px){
    .blog-post{
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .img-round-small{
      margin: 0 auto;
    }
  }
}

// FORMS

// SOCIAL
.social-buttons {
    display: flex;
    justify-content: center;
    align-content: space-between;
}
