// Variables
$body-font: 'Merriweather', sans-serif;
$heading-font: 'Inter', serif;
$font-weight-extralight: 100;
$font-weight-light: 200;
$font-weight-regular: 400;
$font-weight-heavy: 700;
$font-height: 1.7;
$font-subscript: 12px;
// Colors
$primary: #555;
$accent:  #118AB2;
// $accent: #df5a55;
$dark-grey: #555;
$light-grey: #b3b3b3;
$lighter: #efefef;
// Breakpoints
$width: 96%;
$gutter: 4%;
$breakpoint-small: 33.75em; // 540px
$breakpoint-med: 45em; // 720px
$breakpoint-large: 60em; // 960px

// Layout helpers
.flex-row-center{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flex-column-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}