* {
  color: $dark-grey;
  font-family: $font-family;
  box-size: border-box;
}

html,
body {
  // background: red;
  font-weight: $font-weight-light;
  font-size: 100%;
  font-size: 1em;
  height: 100%;
  left: 0;
  line-height: $font-height;
  margin: 0;
  padding: 0;
  top: 0;
  width: 100%;
}
section{
  width: 100%;
  min-height: 80%;
  margin: 0 10px;
}
.main{
  min-height: 70%;
  @media only screen and (min-width: $breakpoint-large){
    .main{
      padding: 100px 0;
    }
  }
}

.footer {
    width: 100%;
    text-align: center;
    background: $lighter;
    color: $dark-grey;
    display: flex;
    margin-top: 3rem;
}

.footer .row {
    margin: auto;
    padding: 20px 0;
}
