@media screen and (max-width: 992px){
    #cv-big{
        display: none;
    }
    .center{
        display: flex;
        justify-content: center;
    }
    .paginator{
    text-align: center;
    }
}
@media screen and (min-width: 992px){
    #cv-small{
        display: none;
    }
}
