@import url("https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto+Slab:300,400");

h1,
h2,
h3,
h4 {
    font-weight: 700;
    line-height: 1.2;
    margin: 1.414em 0 0.5em;
    color: $primary;
}

p {
    margin-bottom: 1.3em;
}



h1 {
  margin-top: 0;
  font-size: 2.441em;
}

h2 {font-size: 1.953em;}

h3 {font-size: 1.563em;}

h4 {font-size: 1.25em;}

.larger-heading{
  font-size: 3.157em;
  margin-top: 0;
  @media only screen and (max-width: 500px){
    font-size: 3em;
  }

}
.lighter-heading{
  font-weight: 300;
  color: $light-grey;
  line-height: 1;
  margin: 0 0 60px 0;
}
code {
    font-family: "Roboto Mono", monospace;
    margin-bottom: 1.3em;
}

blockquote {
    font-size: 1.32em;
    font-style: italic;
}

.accent {
    color: $accent;
}

.smaller {
    font-size: 0.707em;
}
.social{
  margin: 0 20px;
}
