---
layout: page
title: Articles
pagination:
enabled: true
---
<h1 class="larger-heading accent">{{page.title}}</h1>
{% for post in site.posts %}

<a class="blog-article" href="{{ post.url }}">
  <div class="blog-post">
    <div class="blog-title">
      {% if post.date %} 
      <p class="post_date"> {{ post.date | date: "%-d %B %Y" }} </p>
      {% endif %}
      <h2 class="post_title">{{ post.title }}</h2>
      {% if post.subtitle%}
      <h3 class="post_subtitle"> {{post.subtitle}} </h3>
      {% endif %}
    </div>
  </div>
</a>

{% endfor %}


<!--<div class="paginator">-->
<!--{% if paginator.total_pages > 1 %}-->

<!--  {% if paginator.previous_page %}-->

<!--    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}"> -->
<!--      <i class="fa fa-chevron-left" aria-hidden="true"></i> Previous page </a>-->
<!--  {% endif %}-->

<!--    {% if paginator.next_page %}-->
<!--      <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">Next page  <i class="fa fa-chevron-right" aria-hidden="true"></i>  </a>-->
<!--  {% endif %}-->

<!--{% endif %}-->
<!--</div>-->