--- 
layout: page 
title: Projects
permalink: /projects/
---

<section class="container-fluid" id="portfolio">
    <div class="row no-gutter portfolio-row">

        {% for item in site.portfolio %}
        <div class="col-sm-4 portfolio-item">
            <a class="portfolio-link" id="{{ item.projectID }}" href="#{{ item.modalID }}"> <img class="img-responsive" src="{{ item.image_path }}" alt="{{ item.project_name }}">
                <div class="portfolio-item-caption">
                    <div class="portfolio-item-caption-content">
                        <h5 class="project-category">{{ item.category }}</h5>
                        <div class="project-name"> {{ item.project_name }}</div>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</section>
{% include modals.html %}
