/*
// $coral: #ef5f5a;
// $carmine: #ed564e;
// $light-grey: #f7f7f7;
// $dark-grey: #2e333b;
/*******************************/
/*           HELPERS          */
/*****************************/


// $sea-blue: #03425c;
// $light-purple: #900C3E;
// $purple: #571845;
// $seaweed: #118ab2;
// $persian-green: #00a896;*/

$primary: #118ab2;
$accent: #ef5f5a;
$dark: #333;
$medium: #bbb;
$light: #efefef;

$sans: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$serif: 'Merriweather', serif;
