<footer>
    <div class="container-fluid footer">
        <div class="row">
            <div class="col-xs-12">
                <p>Alessandra Gherardelli © 2016</p>
                <div class="social-buttons">
                    {% if site.author.email %}
                    <a class="no-decoration" href="mailto:{{ site.author.email }}">
                        <p class="social smaller">Email</p>
                    </a>
                    {% endif %} {% if site.author.facebook %}
                    <a class="no-decoration" href="http://www.facebook.com/{{ site.author.facebook }}">
                        <p class="social smaller">Facebook</p>
                    </a> {% endif %} {% if site.author.twitter %}
                    <a class="no-decoration" href="http://www.twitter.com/{{ site.author.twitter }}">
                        <p class="social smaller">Twitter</p>
                    </a> {% endif %} {% if site.author.medium %}
                    <a  class="no-decoration"href="http://www.medium.com/@{{ site.author.medium }}">
                        <p class="social smaller">Medium</p>
                    </a> {% endif %} {% if site.author.linkedin %}
                    <a class="no-decoration" href="http://www.linkedin.com/in/{{ site.author.linkedin }}">
                        <p class="social smaller">Linkedin</p>
                    </a> {% endif %} {% if site.author.tumbler %}
                    <a class="no-decoration" href="https://{{ site.author.tumblr }}.tumblr.com">
                        <p class="social smaller">Tumblr</p>
                    </a> {% endif %} {% if site.author.github %}
                    <a class="no-decoration" href="http://github.com/{{ site.author.github}}">
                        <p class="social smaller">Github</p>
                    </a>
                    {% endif %} {% if site.author.dribbble %}
                    <a class="no-decoration" href="https://dribbble.com/{{ site.author.dribbble }}">
                        <p class="social smaller">Dribbble</p>
                    </a>
                    {% endif %} {% if site.author.behance %}
                    <a class="no-decoration" href="https://www.behance.net/{{ site.author.behance }}">
                        <p class="social smaller">Behance</p>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</footer>
<!--jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
<!--Animated Modals-->
<script src="{{ site.baseurl }}/assets/js/animatedModal.js-master/animatedModal.js"></script>
<!--Bootstrap Javascript-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


<script>
    $("#project-01").animatedModal({
        modalTarget: 'modal-01'
    });
    $("#project-02").animatedModal({
        modalTarget: 'modal-02'
    });
    $("#project-03").animatedModal({
        modalTarget: 'modal-03'
    });
    $("#project-04").animatedModal({
        modalTarget: 'modal-04'
    });
    $("#project-05").animatedModal({
        modalTarget: 'modal-05'
    });
    $("#project-06").animatedModal({
        modalTarget: 'modal-06'
    });
</script>
</body>

</html>
