
{% for modal in site.projects %}
<div id="{{ modal.modalID }}">
    <!--THIS IS IMPORTANT! to close the modal, the class name has to match the name given on the ID -->
    <div id="btn-close-modal" class="close-{{ modal.modalID }}">
        <i class="fa fa-times fa-2x" aria-hidden="true"></i>
    </div>

    <div class="modal-content">
        <div class="container">
            <div class="row">
                <div class="col-md-7 center">
                    <h2>{{ modal.title }}</h2>
                    {{ modal.content }}
                    
                    <hr>
                    <div class="text-center">
                    <p>...and if you want to know more about my work, skills and experiences, don't forget to</p>
                    <a class="btn btn-default" href="/projects/">download my CV</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}