/*******************************/
/*       BASE                 */
/*****************************/

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 16px; //2vw
    font-family: $sans;
    background: white;
    color: #333;
    font-weight: 400;
}
section{
  min-height: 100%;
  margin: 0 0 1.125rem 0;
  padding: 0;
}

.container-fluid{
  padding: 0;
}

.row {
  display: flex;
  margin: 0;
  padding: 0;
}

.content{
  justify-content: center;
}

/*******************************/
/*       HOMEPAGE             */
/*****************************/
.home{
  justify-content: center;
  align-items: center;
  margin-top: 0;
  text-align: center;
  padding-bottom: 80px;
}

.home-profile {
    margin: -30px auto 30px ;
    height: 180px;
}

/*******************************/
/*           BLOG             */
/*****************************/
.blog {
  padding-top: 5%;
}

.blog-header{
  margin: 0;
  padding: 0;
}
.blog-cover {
  background-size: cover;
  object-fit: cover;
  width: 100%;
  height: 300px;
}

.blog-img {
  width: 100px;
  height: 100px;
  margin: 10px auto;
  object-fit: cover; // Add a polyfill for this feature
  overflow: hidden;
}




/*******************************/
/*           PROJECTS             */
/*****************************/

// Project page
.row.no-gutter.portfolio-row {
	display: block;
}

#portfolio{
	margin-top: 40px;
}

.portfolio-item {
	position: relative;
	display: block;
	max-width: 50%;
	padding: 0;
	margin: 0;
}

.portfolio-item .portfolio-item-caption {
	color: #fff;
	opacity: 0;
	display: block;
	background: $primary;
	position: absolute;
	bottom: 0;
	text-align: center;
	width: 100%;
	height: 100%;
	transition: all .35s
}

.btn-default.active,
.btn-default:active,
.btn-primary.active,
.btn-primary:active,
.open>.dropdown-toggle.btn-default,
.open>.dropdown-toggle.btn-primary {
	background-image: none
}

.portfolio-item .portfolio-item-caption .portfolio-item-caption-content {
	width: 100%;
	text-align: center;
	position: absolute;
	top: 50%;
	transform: translateY(-50%)
}

.portfolio-item:hover .portfolio-item-caption {
	opacity: 0.8;
}

.portfolio-item:focus {
	outline: 0;
}

.portfolio-link:hover {
	font-weight: 300;
}

.project-category,
.project-name {
	color: white;
}

.project-name {
	font-weight: 400;
	font-size: 1.5rem;
}

.project-category {
	font-size: 1rem;
	text-transform: uppercase;
}

// Modal
#btn-close-modal {
	width: 100%;
	text-align: center;
	cursor: pointer;
	color: $accent;
}

.animated {
	background-color: white;
}

.modal-content {
	background-color: white;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
