/*******************************/
/*       BASE                 */
/*****************************/


html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: $sans;
    font-size: 100%;
    background: white;
    color: #333;
    font-weight: 400;
}
section{
  min-height: 80%;
  margin: 0 0 1.125rem 0;
  padding: 0;
}

.container-fluid{
  padding: 0;
}

.row {
  display: flex;
  margin: 0;
  padding: 0;
}

.content{
  justify-content: center;
}

/*******************************/
/*       HOMEPAGE             */
/*****************************/
.home{
  justify-content: center;
  align-items: center;
  margin-top: 0;
  text-align: center;
  padding-bottom: 80px;
}

.home-profile {
    margin: 5% auto;
    height: 180px;
}
